<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sun Auto Email Generator</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
	<div class="container">
		<h1>Sun Auto <strong>⚡ Email Generator</strong></h1>

		<div class="card">

			<div class="group">
				<h2>Service Brands</h2>
				<p class="info">Placeholder variable: [Brand]</p>
			</div>
			<form action="/generate-emails" method="post" enctype="multipart/form-data">
				<div class="section">
					<div class="field">
						<label for="serviceTitle">Title</label>
						<input type="text" id="serviceTitle" name="serviceTitle" required>
					</div>

					<div class="field">
						<label for="serviceBodyCopy">Body Copy</label>
						<textarea id="serviceBodyCopy" name="serviceBodyCopy" rows="6"></textarea>
					</div>

					<div class="field">
						<div class="group">
							<label for="serviceHeaderImage">Header Image</label>
							<p>.jpg only</p>
						</div>
						<input type="file" id="serviceHeaderImage" name="serviceHeaderImage" accept=".jpg">
					</div>
				</div>
				<div class="group">
					<h2>Tire Brands</h2>
					<p class="info">Placeholder variable: [Brand]</p>
				</div>
				<div class="section">

					<div class="field">
						<label for="tireTitle">Title</label>
						<input type="text" id="tireTitle" name="tireTitle" required>
					</div>

					<div class="field">
						<label for="tireBodyCopy">Body Copy</label>
						<textarea id="tireBodyCopy" name="tireBodyCopy" rows="6"></textarea>
					</div>

					<div class="field">
						<div class="group">
							<label for="tireHeaderImage">Header Image</label>
							<p>.jpg only</p>
						</div>
						<input type="file" id="tireHeaderImage" name="tireHeaderImage" accept=".jpg">
					</div>
				</div>
				<h2>Coupons</h2>
				<div class="section">
					<div class="field">
						<div class="group">
							<label for="directory">Coupon files</label>
							<p>.jpg only</p>
						</div>
						<input type="file" name="directory" webkitdirectory multiple>
					</div>

					<div class="coupons">
						<% serviceBrands.concat(tireBrands).forEach(brand=> { %>
							<div class="field">
								<label for="<%= brand %>Coupons">
									<%= brand %>:
								</label>
								<input type="text" id="<%= brand %>Coupons" name="<%= brand %>Coupons">
							</div>
							<% }); %>
					</div>
				</div>
				<button class="btn" type="submit">Generate Emails</button>
			</form>
		</div>
	</div>
	<script src="scripts.js"></script>
</body>

</html>